# see gitignore rules at https://www.cnblogs.com/kevingrace/p/5690241.html

# python virtual env
/Include/
/Lib/
/Library/
/Scripts/
/share/
/pyvenv.cfg

# python cache
__pycache__/

# vscode settings
# /.vscode/

# setup
/*.egg-info/

# output
/output/