# see gitignore rules at https://www.cnblogs.com/kevingrace/p/5690241.html

# python virtual env
/Include/
/Lib/
/Library/
/Scripts/
/share/
/pyvenv.cfg

# python cache
__pycache__/

# vscode settings
# /.vscode/

# setup
/*.egg-info/

# output
/output/

# data
/data/

# tmp files
*tmp*
*temp*

# newline at the end of file is necessary for format.sh to read the file completely